.main-top {
  display: flex;
  justify-content: center;
  align-items: flex-start;

  width: 100%;

  margin: 0;
  padding: 0;
  padding-top: 3.5em;
  padding-bottom: 3em;

}

.main-top__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  width: 100%;

  margin: 0;
  padding: 0;
  padding-left: 1.4em;
  padding-right: 1.4em;
  box-sizing: border-box;
}

.main-top__wrapper-desktop {
  display: none;
}

.main-top__txt {
  margin: 0;
  padding: 0;

  text-align: center;
  font-size: 0.85em;
  color: @dark;
}

.main-top__txt--mb {
  margin-bottom: 1.5rem;
}

.main-top__txt--mb-m {
  margin-bottom: 3.5rem;
}

.main-top__txt--size-l {
  margin-bottom: 2em;
  font-size: 2.2em;
  line-height: 1.2em;
}

.main-top__txt--size-m {
  font-size:  1.8em;
  line-height: 1em;
}

.main-top__txt--size-xs {
  font-size: 1.2em;
}



.main-top__txt--bold {
  font-weight: bold;
}

.main-top__txt--medium {
  font-weight: 600;
}

.main-top__txt--red {
  color: @red;
}

.main-top__txt--upper {
  line-height: 1.7em;
  text-transform: uppercase;
}



.main-top__phone {
  margin: 0;
  margin-bottom: 0.1em;
  padding: 0;

  font-family: @font-family-roboto;
  font-size: 2em;
  color: @base;
  text-decoration: none;
}

.main-top__btn {
  .btn();
}

.main-top__btn:hover {
  .btn-hover();
}

.main-top__btn:active {
  .btn-active();
}









/*--- media ---*/
@media screen and (min-width: 700px) {
  .main-top {
    grid-area: main-top;
  }


  .main-top__wrapper {
    display: none;
  }
  .main-top__wrapper-desktop {


    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    width: 100%;

    margin: 0;
    padding: 0;
    padding-left: 1.4em;
    padding-right: 1.4em;
    box-sizing: border-box;
  }

  .main-top__txt--head {
    font-size: 2.8em;
    font-weight: bold;
    color: @base;
  }

  .main-top__txt--size-xl {
    font-size: 2em;
    color: @base;
  }




}