/*-- Page --*/
.page {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
}

.page__body {
  position: relative;
  display: grid;
  grid-template-areas:
  "header"
  "main";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 1fr;

  min-height: 100vh;

  margin: 0;
  padding: 0;


  overflow-x: hidden;
}

.page__body-img {
  position: absolute;
  top: 0;
  right: 0;

  width: auto;

  object-fit: cover;
}